.contactElement {
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.contactElementButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    overflow: hidden;
    transition-duration: .2s;
}

.contactElementButton:hover {
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}


.contactElementIcon {
    position: relative;
    font-size: 3rem;
    margin-left: 1rem;
}

.contactElementText {
    position: relative;
    font-size: 1.5rem;
    right: 1rem;
    white-space: nowrap;
}

button.instagram:hover {
    background-color: var(--pink);
}

button.email:hover {
    background-color: #FA7268;
}

button.twitter:hover {
    background-color: #22DDFE;
}

button.whatsapp:hover {
    background-color: #1AFF79;
}