.planCard {
    background: var(--main-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 25px;
    width: 16vw;
    height: 60vh;
    transition-duration: .5s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.planCardTitleW {
    color: #fff;
}

.planCardInnerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    width: 13vw;
    height: 100%;
    padding: 0 1vw;
    margin-bottom: 1vh;
}

.default .planCardInnerContent {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.special .planCardInnerContent {
    background: none;
}

.default .priceDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 50px;
    border: 2px solid var(--purple);
    margin-top: 1vh;
    width: 10vw;
    height: 4vw;
}

.priceText {
    letter-spacing: 1px;
}

.default .priceText {
    color: var(--purple);
}

.special .priceText {
    color: #fff;
}

.planFeaturesList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planCardText {
    font-size: 1rem;
}

.default .planCardText {
    color: var(--purple);
}

.planFeature {
    font-size: 1.2rem;
}

.default .planFeature {
    color: var(--purple);
}

.special .planFeature {
    color: #fff;
}

.default .planFeatureIcon {
    color: var(--pink);
}

.special .planFeatureIcon {
    color: #fff;
}

.planSubscribeButton {
    margin-bottom: 1vh;
    padding: 1rem 1rem;
    border-radius: 25px;
    font-size: 1.25rem;
    transition-duration: .2s;
}

.default .planSubscribeButton {
    background: linear-gradient( 90deg, var(--purple), var(--pink) );
    color: #fff;
    border: none;
}

.default .planSubscribeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.special .planSubscribeButton {
    background: none;
    color: #fff;
    border: 2px solid #fff;
}

.special .planSubscribeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
    background: #fff;
    color: var(--purple);
}