@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

.landingPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.leftLandingPage{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    margin-left: 5vw;
}

.rightLandingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 90vh;
}

.landingPageImg {
    width: auto;
}

#welcomeTitle {
    font-family: Belanosima, sans-serif;
    color: #fff;
    margin: 0;
}

#descriptionTitle {
    font-family: Belanosima, sans-serif;
    color: #fff;
    padding: 0;
}

.landingPageButtons {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
}

.getStarted {
    background: none;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 20px 25px;
    transition-duration: .2s;
    color: #fff;
}

.getStarted:hover {
    background: var(--purple);
    border: 2px solid var(--purple);
    cursor: pointer;
}

.toTrailerButton {
    background: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 15px;
    padding: 20px 25px;
    transition-duration: .2s;
    color: #fff;
}

.toTrailerButton:hover {
    background: #22DDFE;
    border: 2px solid #22DDFE;
    cursor: pointer;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
    /* Styles */
    #welcomeTitle {
        font-size: 2rem;
    }

    #descriptionTitle {
        font-size: 1.5rem;
    }

    .getStarted, .toTrailerButton {
        font-size: 0.5rem;
    }
}
  
/* iPads (portrait and landscape)  */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
    #welcomeTitle {
        font-size: 6rem;
    }

    .landingPageImg {
        height: 60%;
    }

    #descriptionTitle {
        font-size: 1.5rem;
    }

    .getStarted, .toTrailerButton {
        font-size: 1rem;
    }
}
  
/* Desktops and laptops  */
@media only screen and (min-width: 1224px) {
    /* Styles */
    #welcomeTitle {
        font-size: 10rem;
    }

    .landingPageImg {
        height: 70%;
    }

    #descriptionTitle {
        font-size: 1.75rem;
    }

    .getStarted, .toTrailerButton {
        font-size: 1rem;
    }
}