.signoutPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: var(--main-background); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Left side of page */

.accountInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24vw;
    height: 85vh;
    border-radius: 25px;
}

.accountInfoPartDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 37.5vh;
    padding: 2vh 0;
    border-radius: 25px;
    background: var(--main-background); 
}

.accountInfoTitle {
    margin: 0;
    color: #fff;
    font-size: 1.75rem;
}

.accountInfoInnerDiv {
    display: flex;
    width: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5vh;
}

.accountInfoText {
    font-size: 1.25rem;
    margin: 0;
    color: #fff;
}

/* Right side of page */

.accountNavigationDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 24vw;
    height: 85vh;
    padding: 2vh 0;
    gap: 1vh;
}

.signoutTitle {
    margin: 0;
    color: #5541e9;
}

.signoutMain {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 85vh;
    border-radius: 25px;
    padding: 3vh 1vw;
    transition-duration: .2s;
    gap: 2vh;
}

.signoutButton {
    width: 10vw;
    height: auto;
    padding: 1.5vh 0;
    border: none;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    background: linear-gradient( 90deg, #5541e9, var(--pink) );
    color: #fff;
    transition-duration: .2s;
}

.signoutButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}