.contactButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 4rem;
}

.contactButtonCircle {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    transition: .2s;
}

.contactButtonCircle:hover {
    cursor: pointer;
    opacity: .75;
}

.contactIcon {
    color: #fff;
    transition-duration: .2s;
}

.contactIcon:hover {
    cursor: pointer;
}

.contactIconCircle {
    color: #fff;
    font-size: 1.5rem;
}

.instagram:hover {
    color: #FE56F9;
}

.envelope:hover {
    color: #FA7268;
}

.whatsapp:hover {
    color: #1AFF79;
}

.twitter:hover {
    color: #22DDFE;
}

.google {
    background-color: #DB4437;
}

.facebook {
    background-color: #4267B2;
}