@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

.navButton {
    background: none;
    border: none;
    border-radius: 25px;
    padding: 0.1rem 1.5rem;
    transition-duration: .2s;
}

.navButton:hover {
    background-color: #22DDFE;
    cursor: pointer;
}

.navLink {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    transition-duration: .2s;
    font-family: Belanosima, sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    padding: 20px 0px;
}