/* Page style */

.videosPage {
    width: 98vw;
    height: 200vh;
    padding: 2vh 1vw;
    margin: 0;
    background: var(--main-background); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/* Sidenav style */

.contentPageSidenav {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    height: 92vh;
    padding: 2vh 1vw;
    background-color: #fff;
    border-radius: 25px;
    gap: 2vh;
}

.contentPageSidenavSection {
    padding: 2vh 2vw;
    background: var(--main-background); 
    border-radius: 25px;
}

.contentSidenavSectionTitle {
    margin: 0;
    color: #fff;
}

.contentSidenavSectionButtons {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contentSidenavSectionButton {
    width: 100%;
    padding: 1vh 1vw;
    border: 2px solid #fff;
    border-radius:25px;
    color: #fff;
    background: none;
    transition-duration: .2s;
}

.contentSidenavSectionButton:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--purple);
    transform: scale(1.2);
}

/* Videos style */

.contentPageContent {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    width: 82vw;
    height: 96vh;
    gap: 3vh;
}

.contentPageContentChapter {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
}

.contentPageContentChapterTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition-duration: .2s;
}

.contentPageContentChapterTop:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.contentPageContentChapterTitle {
    font-size: 2rem;
    margin: 0;
    color: var(--purple);
}

.contentPageContentChapterIcon {
    font-size: 2rem;
    color: var(--pink);
    transition-duration: .2s;
}

.contentPageContentChapterIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.contentPageContentChapterMain {
    display: none;
    background-color: #fff;
    padding: 2vh 2vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}