@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

:root {
  --main-background: url(./img/backgrounds/plansBackground.svg) no-repeat center center fixed;
  --purple: #5541e9;
  --pink: #FE56F9;
  --cyan: #22DDFE;
  --green: #1AFF79;
  --orange: #FA7268;
}

html {
  font-family: Belanosima, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fff;
}

.copyright {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  z-index: 100;
  color: #fff;
  text-transform: uppercase;
  font-size: .7rem;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5541e9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22DDFE;
}